* {
  background: black;
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  height: 7px;
  width: 7px;
  border-radius: 7px;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  color: #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  color: #a0a0a0;
}